@model TMDT.Models.ViewModel.UserVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm("ChangePassword", "ManageRole", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{  
    <div>
        <input hidden="hidden" value="@Model.Id" id="id" name="id" />
        <input class="form-control" type="text" id="newPassword" name="newPassword" />
    </div>
    <div >
        <div >
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}