@{ Layout = null; }
<style>
    body {
        background: #ff6a00;
    }

    div {
        margin-top: 200px;
        text-align: center;
        font: 100%/1 Arial;
    }

    a {
        color: white !important;
        font: 100%/1 Arial;
        text-decoration: none;
        border-radius: 4px;
    }
</style>
<div class="fail_wrapper">
    <span style='font-size:100px;'>&#128531;</span>
    <h1>Thanh toán thất bại</h1>
</div>
<div><a href="/#" class="btn btn-info">Quay về trang chủ</a></div>


